.RoadsWrapper {
  margin-bottom: 10px;
}

.RoadsTable {
  font-size: 14px;
  margin-bottom: 10px;
}

.RoadsTable td, .RoadsTable th {
  padding-right: 20px;
  text-align: left;
}

.Roads__Status {
  color: #e74c3c;
}

.Roads__Status--Good {
  color: #1abc9c;
}
